article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover,
  a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.loading {
  margin: 50px auto;
  width: 20px;
  -webkit-animation: rotation none linear 1.5s infinite ;
  -moz-animation: rotation none linear 1.5s infinite ;
  -o-animation: rotation none linear 1.5s infinite ;
  animation: rotation none linear 1.5s infinite ; }

.loading-ball {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #9b9b9b; }

.loading-wrapper {
  display: inline-block; }

.loading-wrapper-left {
  -webkit-animation: left-down none ease-in 1s infinite ;
  -moz-animation: left-down none ease-in 1s infinite ;
  -o-animation: left-down none ease-in 1s infinite ;
  animation: left-down none ease-in 1s infinite ; }

.loading-ball-left {
  -webkit-animation: left-up none ease-out 1s infinite ;
  -moz-animation: left-up none ease-out 1s infinite ;
  -o-animation: left-up none ease-out 1s infinite ;
  animation: left-up none ease-out 1s infinite ; }

.loading-wrapper-right {
  -webkit-animation: right-down none ease-in 1s infinite ;
  -moz-animation: right-down none ease-in 1s infinite ;
  -o-animation: right-down none ease-in 1s infinite ;
  animation: right-down none ease-in 1s infinite ;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.loading-ball-right {
  -webkit-animation: right-up none ease-out 1s infinite ;
  -moz-animation: right-up none ease-out 1s infinite ;
  -o-animation: right-up none ease-out 1s infinite ;
  animation: right-up none ease-out 1s infinite ;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes left-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(-25px); } }

@-moz-keyframes left-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(-25px); } }

@-o-keyframes left-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(-25px); } }

@keyframes left-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(-25px); } }

@-webkit-keyframes left-down {
  0%, 25% {
    transform: translateX(0px); }
  50%, 100% {
    transform: translateX(25px); } }

@-moz-keyframes left-down {
  0%, 25% {
    transform: translateX(0px); }
  50%, 100% {
    transform: translateX(25px); } }

@-o-keyframes left-down {
  0%, 25% {
    transform: translateX(0px); }
  50%, 100% {
    transform: translateX(25px); } }

@keyframes left-down {
  0%, 25% {
    transform: translateX(0px); }
  50%, 100% {
    transform: translateX(25px); } }

@-webkit-keyframes right-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(25px); } }

@-moz-keyframes right-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(25px); } }

@-o-keyframes right-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(25px); } }

@keyframes right-up {
  0% {
    transform: translateX(0px); }
  25%, 100% {
    transform: translateX(25px); } }

@-webkit-keyframes right-down {
  0%, 25% {
    transform: translateX(0); }
  50%, 100% {
    transform: translateX(-25px); } }

@-moz-keyframes right-down {
  0%, 25% {
    transform: translateX(0); }
  50%, 100% {
    transform: translateX(-25px); } }

@-o-keyframes right-down {
  0%, 25% {
    transform: translateX(0); }
  50%, 100% {
    transform: translateX(-25px); } }

@keyframes right-down {
  0%, 25% {
    transform: translateX(0); }
  50%, 100% {
    transform: translateX(-25px); } }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px; }

.header {
  min-height: 100px;
  padding-top: 20px;
  padding-bottom: 20px; }

.header-image {
  background: url("/public/images/profile.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-left: 20px; }
  @media screen and (max-width: 650px) {
    .header-image {
      margin: 0 auto;
      display: block; } }

.header-bar {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px; }
  @media screen and (max-width: 650px) {
    .header-bar {
      margin: 0 auto;
      display: block;
      text-align: center; } }

.header-title {
  margin: 0;
  font-size: 1.5em;
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: normal; }

.header-subtitle {
  font-family: Vollkorn, serif;
  font-style: italic;
  font-size: 1.2em;
  color: #9b9b9b; }

.copyright {
  color: #9b9b9b;
  font-size: 0.8em;
  text-align: center;
  margin-top: 30px; }

.login-field {
  padding: 10px; }

.login-username {
  display: block; }

.login-password {
  display: block; }

input[type=text], input[type=password] {
  padding: 5px;
  border: 2px solid #ccc; }

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer; }

.item {
  margin-bottom: 10px;
  padding: 5px; }
  .item:last-of-type {
    margin-bottom: 0; }

.item-title {
  margin: 0 0 5px;
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: normal;
  font-size: 1.3em;
  display: block; }

.item-synopsis {
  font-size: 1.2em; }

.post-header {
  border-bottom: double 3px #ddd; }

.post-title {
  margin: 0;
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: normal;
  text-transform: uppercase; }

p {
  font-size: 1.2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, "Open Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: normal;
  font-weight: normal; }

h1 {
  border-bottom: double 3px #ddd; }

h2 {
  border-bottom: solid 1px #ddd; }

h4, h5, h6 {
  color: #777; }

h6 {
  font-style: italic; }

.post-content code {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #e5e5e5;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 2px;
  border: #c8c8c8 solid 1px; }

.post-content pre {
  padding: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  line-height: 1.5em;
  border: #c8c8c8 solid 1px;
  overflow: scroll; }
  .post-content pre code {
    background-color: transparent;
    border: none;
    padding: 0; }

.post-content svg {
  max-width: 100%; }

.post-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%; }

.info {
  color: #9b9b9b;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.1em; }

.info-date {
  padding-right: 10px;
  display: inline; }

.info-categories {
  padding-left: 10px;
  display: inline; }

.info-category {
  color: #9b9b9b; }
  .info-category::after {
    content: ", ";
    text-decoration: none; }
    .info-category::after:hover {
      text-decoration: none; }
  .info-category:last-of-type::after {
    content: ""; }

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-Regular.ttf); }

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-Italic.ttf);
  font-style: italic; }

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic; }

html, body {
  margin: 0;
  font-family: Vollkorn, serif;
  color: #000000;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */