@import "variables";
@import "mixins";

.info {
  color: $text-color-subtle;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 0.9em;
  //height: 2em;
}
.info-date {
  padding-right: 10px;
  border-right: 1px solid;
  display: inline;
}

.info-categories {
  padding-left: 10px;
  display: inline;
}

.info-category {
  color: $text-color-subtle;
  &::after {
    content: ", ";
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &:last-of-type {
    &::after {
      content: "";
    }
  }
}
