@import "lib/normalize";
@import "mixins";
@import "loading";
@import "variables";
@import "blog";
@import "login";
@import "listing";
@import "post";
@import "info";

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-Regular.ttf);
}

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Vollkorn;
  src: url(fonts/Vollkorn-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}


html, body {
  margin: 0;
  font-family: $font-content;
  color: $text-color-default;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
