@import "mixins";
@import "loading";
@import "variables";
@import "blog";
@import "listing";
@import "post";
@import "info";

html, body {
  margin: 0;
  font-family: $font-content;
  color: $text-color-default;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
